.main_chat
  .main_header
    .main_header_group
      %p test
      %ul
        Member :
        %li masa
    = link_to "Edit", "#", class: "main_header_edit"

  .messages
    .message_box
      .message_box_info
        %p{class: "message_box_info_name"} masa
        %p{class: "message_box_info_date"} 2019/12/23(火)
      %p{class: "message_box_text"} おはよう！
    .message_box
      .message_box_info
        %p{class: "message_box_info_name"} masa
        %p{class: "message_box_info_date"} 2019/12/23(火)
      %p{class: "message_box_text"} こんにちは！
    .message_box
      .message_box_info
        %p{class: "message_box_info_name"} masa
        %p{class: "message_box_info_date"} 2019/12/23(火)
      %p{class: "message_box_text"} こんばんは！

  .footer
    %form.new_message
      .input_box
        %input{type: "text", placeholder: "type a message", class: "input_box_text"}
        %label{class: "input_box_image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input_box_image_file"}
      %input{type: "submit", value: "Send", class: "submit_btn"}