.side_ber
  .side_ber_header
    .side_ber_header_box
      %p masa
      %ul
        %li{class: "edit"}
          = link_to "#", class: "btn" do
            %i.fas.fa-edit
        %li{class: "config"}
          = link_to "#", class: "btn" do
            %i.fas.fa-cog

  .groups
    .side_group
      %p{class: "side_group_name"} techcamp
      %p{class: "side_group_message"} まだメッセージはありません
    .side_group
      %p{class: "side_group_name"} techcamp
      %p{class: "side_group_message"} まだメッセージはありません
    .side_group
      %p{class: "side_group_name"} techcamp
      %p{class: "side_group_message"} まだメッセージはありません